/* 
    Document   : AdminProjectCustomerList
    Created on : 27 Feb, 2016, 6:28:54 PM
    Author     : Admin
    Description:
        Purpose of the stylesheet follows.
*/


#adminprojectcustomerlist table, th, td {
   border: 1px solid black;
}
